html,
body {
    width: 100%;
    height: 100%;
}

body {
    padding-top: 55px;
}

.well h2 {
    margin-top: 0;
}

.mTop {
    margin-top: 20px;
}

/*.alert {
    bottom: 0;
    position: fixed;
    right: 20px;
    min-width: 400px;
    z-index: 100;
}
*/
.me{
    margin-top: 29px;
}

.post {
    padding: 10px;
    border: 1px solid #9954bb;
}

.remove{
    cursor: pointer;
    opacity: .3;
    color: #ff0039;
}

.remove:hover{
    opacity: 1;
}